{% extends 'baseadmin.html' %} {% block title %}Current Account Approva{% endblock %}
{% block content %}
        <h2>Current Account Approval</h2>
        
        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Account Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in pending_accounts %}
                <tr>
                    <td>{{ account.customer_name }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.mobile_number }}</td>
                    <td>{{ account.account_type }}</td>
                    <td>
                        <form style="padding: 0;background:none;box-shadow:None;" method="POST" action="{% url 'approve_current_account' account.id %}">
                            {% csrf_token %}
                            <button type="submit" name="action" value="approve" class="btn btn-success btn-sm">Approve</button>
                            <button type="submit" name="action" value="reject" class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}
